# Laravel default + common
*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache

# IDE / Editor
/.idea
/.vscode
/.cursor/
/.nova
/.zed
/codex
/auth.json

# Dependencies
/vendor
/node_modules

# Laravel specific
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/*

# Misc
Homestead.json
Homestead.yaml
.phpactor.json
_ide_helper.php